#content {
    width: 1280px;
    margin: 0 auto;
}

#content_a {
    width:1280px;
    height: 50px;
    margin-bottom: 24px;
}

.up {
    width:1280px;
    height: 35px;
    font-family: 华文细黑;
    font-size: 14px;
    color: #efffef;
    line-height: 35px;
    background: #000;
}
#content_1 {
     width:1280px;margin-bottom:38px;}

.content_1top{width:1280px;height:35px;margin:20px 0;}
    #page1,#page2,#page3{color:#fff;font-family:Arial;font-size:14px;display:block;float:left;width:60px;height:35px;line-height:35px;text-align:center;margin-right:5px;
                    background:#000;
    }
.hi{display:none;}

#kong{clear:both;}
